/* Ogólne style strony */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Główne kontenery */
  
  
  .form-container, .notes-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100%;
  }
  
  .notes-container {
    width: 60%;
    overflow-y: auto;
  }
  
  .form-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Nagłówki */
  h1 {
    font-size: 24px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Formularze */
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .submit-button,
  .logout-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .submit-button {
    background-color: #007bff;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .logout-button {
    background-color: #d9534f;
  }
  
  .logout-button:hover {
    background-color: #c9302c;
  }
  
  /* Notatki */
  .note {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .note-content {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .note-details {
    font-size: 14px;
    color: #777;
  }
  
  .note-details span {
    display: block;
  }
  
  .note-extra {
    font-size: 14px;
    color: #555;
  }
  
  .hidden {
    display: none;
  }
  
  .download-button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .download-button:hover {
    background-color: #0056b3;
  }

  .password-strength {
    margin-top: 10px;
    font-size: 14px;
}
.strength-low {
    color: red;
}
.strength-medium {
    color: orange;
}
.strength-high {
    color: green;
}
  