<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weryfikacja zmiany hasła</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Podaj dane konta</h1>
        <form method="POST" action="{{ url_for('change_verify') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                <label for="username">Nazwa użytkownika</label>
                <input type="text" id="username" name="username" placeholder="Wpisz nazwę użytkownika" required>
            </div>
            <div class="form-group">
                <label for="totp">Totp</label>
                <input type="password" id="totp" name="totp" placeholder="Wpisz kod totp" required>
            </div>
            <div class="form-group">
                <label for="reset_token">Token resetu</label>
                <input type="password" id="reset_token" name="reset_token" placeholder="Wpisz kod resetu" required>
            </div>
            <div class="form-group">
                <label for="password">Hasło</label>
                <input type="password" id="password" name="password" placeholder="Wpisz hasło" required>
            </div>
            <div class="form-group">
                <label for="new_password">Nowe hasło</label>
                <input type="password" id="new_password" name="new_password" placeholder="Wpisz nowe hasło" required>
            </div>
            <button type="submit" class="submit-button">Zmień hasło</button>
        </form>
    </div>
</body>
</html>