<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notatki użytkownika: {{ user }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
  <style>
    .container {
      display: flex;
      flex-direction: row;
      gap: 20px;
      width: 100%;
      max-width: 1200px;
      height: 90vh;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="notes-container">
      <h1>Notatki użytkownika: {{ user }}</h1>
      <div class="notes-section">
        {% if notes|length > 0 %}
          {% for note in notes %}
          <div class="note">
            <div class="note-content">{{ note.message |safe }}</div>
            <div class="note-details">
              <span>Data utworzenia: {{ note.created_at }}</span>
              <span>Adres IP: {{ note.ip_address }}</span>
            </div>
            <div class="note-extra hidden" id="extra-{{ loop.index }}">
              <p><strong>Podpis:</strong> {{ note.signature }}</p>
              <p><strong>Klucz publiczny:</strong> {{ note.public_key }}</p>
              <p><strong>Notka w BASE64:</strong> {{ note.base_64 }}</p>
            </div>
            <button 
              class="download-button" 
              onclick="showExtra('{{ loop.index }}')">
              Pokaż podpis i klucz publiczny
            </button>
          </div>
          {% endfor %}
        {% else %}
        <p>Nie znaleziono notatek dla tego użytkownika.</p>
        {% endif %}
      </div>
    </div>
  </div>

  <script>
    function showExtra(index) {
      const extraSection = document.getElementById(`extra-${index}`);
      if (extraSection) {
        extraSection.classList.toggle("hidden");
      }
    }
  </script>
</body>
</html>